In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

SQL And SQLite

SQL(structured query language) is a standard language for managing and manipulating relational database.

SQLite is a self-contained ,serverless ,and zero-configuration database engine that is widely used for embedded database system.

In [2]:
import sqlite3

In [3]:
#connect to an SQLite database
connection =sqlite3.connect('example.db')
connection

In [4]:
cursor = connection.cursor()

In [5]:
#create a table
cursor.execute('''
   Create Table If Not Exists employees(
       id Inyeger Primary Key,
       name Text Not Null,
       age Integer,
       department text
   )
''')
#commit the cahnges
connection.commit()

In [6]:
cursor.execute('''
   Select * from employees
''')

In [7]:
#Insert tha data into SQLite databse table
cursor.execute('''
Insert Into employees (name,age,department)
       values('rajesh',25,'Data Scientist')
''')

cursor.execute('''
Insert Into employees (name,age,department)
       values('manav',24,'Data Engineer')
''')
cursor.execute('''
Insert Into employees (name,age,department)
       values('anuj',27,'Analog Engineer')
''')
#connection.commit()
connection.commit()

In [8]:
#query data from the table 
cursor.execute('select * from employees')
rows = cursor.fetchall()

#print the query data
for row in rows:
    print(row)

(None, 'rajesh', 25, 'Data Scientist')
(None, 'manav', 24, 'Data Engineer')
(None, 'anuj', 27, 'Analog Engineer')

In [10]:
#Update the data into tha table
cursor.execute('''
  UPDATE employees
  Set age = 27
  where name = 'anuj';
''')
connection.commit()

In [11]:
#query data from the table 
cursor.execute('select * from employees')
rows = cursor.fetchall()

#print the query data
for row in rows:
    print(row)

(None, 'rajesh', 25, 'Data Scientist')
(None, 'manav', 24, 'Data Engineer')
(None, 'anuj', 27, 'Analog Engineer')

In [12]:
#Delete the data from the table 
cursor.execute('''
Delete from employees
    where name ='anuj'
''')
connection.commit()

In [13]:
#query data from the table 
cursor.execute('select * from employees')
rows = cursor.fetchall()

#print the query data
for row in rows:
    print(row)

(None, 'rajesh', 25, 'Data Scientist')
(None, 'manav', 24, 'Data Engineer')

In [16]:
#working with sales data
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

#create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
   id Integer Primary Key,
   date text not null,
   product text not null,
   sales Integer,
   region text
   )
''')
#insert some of data
sales_data =[
   ('2023-01-01','p1',100,'north'),
    ('2023-01-02','p2',200,'west'),
    ('2023-01-03','p3',500,'south'),
    ('2023-01-04','p4',400,'east'),
    ('2023-01-05','p5',300,'north')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
      values(?,?,?,?)
''',sales_data)
connection.commit()

In [17]:
#query data from the table 
cursor.execute('select * from sales')
rows = cursor.fetchall()

#print the query data
for row in rows:
    print(row)

(1, '2023-01-01', 'p1', 100, 'north')
(2, '2023-01-02', 'p2', 200, 'west')
(3, '2023-01-03', 'p3', 500, 'south')
(4, '2023-01-04', 'p4', 400, 'east')
(5, '2023-01-05', 'p5', 300, 'north')

In [18]:
#close the connection parmanently
connection.close()